[Desktop Entry]
Type=Application
Name=Usernames tools
Comment=Sherlock, Maigret, Blackbird
Categories=Network;OSINT
Exec=/home/osint/Documents/scripts/user.sh
Icon=/home/osint/Pictures/icons/user.png
Terminal=true
